.parent-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
}
.form-main{
    width: 400px;
}
.form-select{
    --bs-form-select-bg-img: none !important;
}